simple_live_app/.vscode/settings.json
simple_live_tv_app/.vscode/settings.json

# macOS Spotlight Search index file
*.DS_Store

# Xcode
xcuserdata/
*.xcuserstate

/**/.idea/
/**/.kilo/
/**/.vscode/
/simple_live_server_nodejs/data/
/simple_live_apple_tv/
